#customDate{
    display: none;
    border: 2px mediumslateblue solid;
    width: fit-content;
    position: relative;
    left: 200px;
    top: 50px;
    padding: 15px;
    border-radius: 15px;
}
#holidays{
    display: none;
    position: relative;
    left: 250px;
    top: 70px;
    border: 1px black solid;
    width: fit-content;
}